
/** HELP VIEW **/

.help-icon {
    position: absolute;
    top: 0;
    right: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

    .help-icon.hidden {
        display: none;
    }

    .help-image, .help-icon-svg {
        width: 27px;
        height: 27px;
        filter: drop-shadow(0px 0px 0px #fff);
    }

.help-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    .help-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.42);
        z-index: 1000;
    }

    .help-close {
        border-radius: 50%;
        width: 29px;
        height: 30px;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        position: absolute;
        top: -8px;
        right: -8px;
        cursor: pointer;
        z-index: 1001;
        border: 1px solid #b1b1b1;
        background: #f0f0f0;
    }

        .help-close-left {
            height: 16px;
            width: 1px;
            background-color: #292626;
            transform: rotate(45deg);
            z-index: 1;
        }

        .help-close-right {
            height: 16px;
            width: 1px;
            background-color: #292626;
            transform: rotate(90deg);
            z-index: 2;
        }

@media only screen and (max-device-width: 415px) {
    .help-store .help-icon {
        right: 10px;
    }

    .help-image {
        width: 24px;
        height: 24px;
    }

    .help-store .calendar-icon {
        right: 40px !important;
    }

    .help-store h1 {
        margin: 0 0 0 50px !important;
        width: calc(70% - 40px) !important;
        font-size: 20px !important;
    }

    .help-close {
        width: 25px;
        height: 26px;
    }

        .help-close-left, .help-close-right {
            height: 14px;
        }

    .help-store .location-select-container{
        margin: 0 0 0 -34px !important;
    }
}

/** HELP DETAIL VIEWS **/

.help-slide {
    opacity: 0;
}

    .help-slide.active-slide {
        opacity: 1 !important;
        display: block !important;
    }

    .help-slide.inactive-slide {
        display: none;
    }

    .help-info {
        background-image: linear-gradient(white, #fefefe);
        max-width: 60%;
        min-width: 60%;
        border-radius: 10px;
        position: absolute;
        padding: 0 0 20px;
        border: 1px solid #6b6b6b;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
        z-index: 1001;
    }

        .help-title {
            display: flex;
            justify-content: center;
            font-size: 20px;
            padding: 15px 0;
            font-weight: bold;
            color: #3c3c3c;
        }

        .help-text {
            font-size: 19px;
            text-align: center;
            margin-bottom: 20px;
            line-height: 26px;
            color: #525252;
            padding: 0 15px;
        }

        .help-next {
            width: 48%;
            text-align: center;
            margin: 10px auto 0;
            padding: 6px 8px;
            font-size: 18px;
            border: 1px solid #b1b1b1;
            border-radius: 4px;
            letter-spacing: 0.4px;
            cursor: pointer;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
            background: #f0f0f0;
            color: #292626;
        }

        .help-point {
            width: 0;
            height: 0;
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
            border-top: 20px solid #6b6b6b;
            position: absolute;
            top: 100%;
        }

            .help-point-inner {
                width: 0;
                height: 0;
                border-right: 19px solid transparent;
                border-left: 19px solid transparent;
                border-top: 19px solid #ffffff;
                position: relative;
                bottom: 21px;
                right: 19px;
            }

            .help-point.reverse {
                transform: rotate(180deg);
                top: -20px;
            }

    .help-hand {
        z-index: 1002;
        position: absolute;
    }

        .help-hand.hidden {
            display: none !important;
        }

        .help-hand-icon {
            width: 105px;
            height: 105px;
            z-index: 1;
            position: relative;
        }

        .help-hand-circle {
            animation: hand-circle-click 0.7s linear infinite;
            box-sizing: border-box;
            border: 1px solid #c5c5c5;
            border-radius: 50%;
            position: relative;
            bottom: 120px;
            left: 25px;
            width: 30px;
            height: 30px;
        }

        .help-circle-hide {
            animation: none;
            opacity: 0;
        }
        
    .help-arrow {
        position: absolute;
        left: 20%;
        width: 80%;
        display: flex;
        align-items: center;
        z-index: 1001;
    }

        .help-arrow.hidden {
            display: none !important;
        }

        .help-arrow-line {
            width: 70%;
            height: 45px;
            background-image: linear-gradient(90deg, rgba(255,255,255,0), #ff6014);
        }

        .help-arrow-point {
            width: 0;
            height: 0;
            border-top: 35px solid transparent;
            border-bottom: 35px solid transparent;
            border-left: 41px solid #ff6014;
        }

@media only screen and (max-device-width: 415px) {
    .help-info {
        max-width: 80%;
        min-width: 70%;
        padding: 0 0 15px;
    }

    .help-title {
        font-size: 17.5px;
        padding: 12px 0 11px;
    }

    .help-text {
        font-size: 17px;
        margin-bottom: 17px;
        line-height: 24px;
    }

    .help-next {
        font-size: 17px;
        padding: 6px 0;
        width: 55%;
    }

    .help-point {
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-top: 15px solid #6b6b6b;
    }

        .help-point-inner {
            border-right: 14px solid transparent;
            border-left: 14px solid transparent;
            border-top: 14px solid #ffffff;
            bottom: 16px;
            right: 14px;
        }

        .help-point.reverse {
            top: -16px;
        }

    .help-hand-icon {
        width: 70px;
        height: 70px;
    }

    .help-hand-circle {
        bottom: 85px;
        left: 13px;
    }

    .help-arrow-line {
        height: 30px;
    }

    .help-arrow-point {
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 30px solid #ff6014;
    }
}

/** STORE SLIDE SPECIFIC STYLES **/

    .help-store .calendar-icon {
        right: 60px;
    }

    #express-reorders.active-help, #express-dots.active-help, #express-arrow-right.active-help, #express-arrow-left.active-help {
        z-index: 1001;
    }

    #express-reorders-btn-container.active-help {
        z-index: 1002;
    }

    /** STORE SLIDE 1 **/

    .help-store-view .help-slide[data-slide-id="1"] .help-hand {
        left: 54%;
        animation: store-slide-1-hand-click 0.7s linear infinite;
    }

    .help-store-view .help-slide[data-slide-id="1"] .help-point {
        left: 74%;
    }

    .help-store-view .help-slide[data-slide-id="1"] .help-info {
        left: 15%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-store-view .help-slide[data-slide-id="1"] .help-point {
            left: 65%;
        }

        .help-store-view .help-slide[data-slide-id="1"] .help-info {
            left: 8%;
        }
    }

    /** STORE SLIDE 2 **/

    .help-store-view .help-slide[data-slide-id="2"] .help-hand {
        transform: rotate(168deg);
        animation: store-slide-2 1.8s linear infinite;
    }

    .help-store-view .help-slide[data-slide-id="2"] .help-hand-circle {
        display: none;
    }

    .help-store-view .help-slide[data-slide-id="2"] .help-point {
        left: 53%;
    }

    .help-store-view .help-slide[data-slide-id="2"] .help-info {
        left: 15%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-store-view .help-slide[data-slide-id="2"] .help-point {
            left: 46%;
        }

        .help-store-view .help-slide[data-slide-id="2"] .help-info {
            left: 7%;
        }
    }

    /** STORE SLIDE 3 **/

    .help-store-view .help-slide[data-slide-id="3"] .help-hand {
        right: 0;
        animation: store-slide-3-hand-click 0.7s linear infinite;
    }

    .help-store-view .help-slide[data-slide-id="3"] .help-point {
        right: 5%;
    }

    .help-store-view .help-slide[data-slide-id="3"] .help-info {
        right: 4%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-store-view .help-slide[data-slide-id="3"] .help-info {
            right: 6%
        }
    }

    /** STORE SLIDE 4 **/

    .help-store-view .help-slide[data-slide-id="4"] .help-hand {
        left: 44%;
        animation: store-slide-4-hand-click 0.7s linear infinite;
    }

    .help-store-view .help-slide[data-slide-id="4"] .help-point {
        left: 55%;
    }

    .help-store-view .help-slide[data-slide-id="4"] .help-info {
        left: 15%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-store-view .help-slide[data-slide-id="4"] .help-hand {
            left: 41%
        }

        .help-store-view .help-slide[data-slide-id="4"] .help-point {
            left: 45%;
        }

        .help-store-view .help-slide[data-slide-id="4"] .help-info {
            left: 11%;
        }
    }

    /** STORE SLIDE 5 **/

    .help-store-view .help-slide[data-slide-id="5"] .help-hand {
        right: 10%;
        animation: store-slide-5-hand-click 0.7s linear infinite;
    }

    .help-store-view .help-slide[data-slide-id="5"] .help-point {
        right: 10%;
    }

    .help-store-view .help-slide[data-slide-id="5"] .help-info {
        right: 10%;
    }

    /** STORE SLIDE 6 **/

    .help-store-view .help-slide[data-slide-id="6"] .help-hand {
        top: 45px;
        right: 4%;
        animation: store-slide-6-hand-click 0.7s linear infinite;
    }

    .help-store-view .help-slide[data-slide-id="6"] .help-point {
        right: 8%;
    }

    .help-store-view .help-slide[data-slide-id="6"] .help-info {
        right: 4%;
    }

    .help-store-view .help-slide[data-slide-id="6"] .calendar-icon {
        z-index: 1000;
    }

    @media only screen and (max-device-width: 415px) {
        .help-store-view .help-slide[data-slide-id="6"] .help-hand {
            top: 40px;
            right: 8%;
        }

        .help-store-view .help-slide[data-slide-id="6"] .help-point {
            right: 10%;
        }

        .help-store-view .help-slide[data-slide-id="6"] .help-info {
            right: 6%;
        }
    }

/** HOME KEYPAD SLIDE SPECIFIC STYLES **/

    .help-home-keypad-view #myQuickPicks {
        list-style: none;
        top: 60px;
    }

    .help-home-keypad-view #myQuickPicks.help-quick-pick {
        z-index: 1000;
    }

    .help-home-keypad-view .scan-barcode-btn {
        z-index: 0;
    }

    .help-home-keypad-view .scan-barcode-btn.help-scan-btn {
        z-index: 1000;
    }


    .help-home-keypad-view .help-text img {
        width: 20px;
        height: 20px;
        position: relative;
        top: 2px;
    }

    .help-keypad .order-cart-icon, .help-favorite .order-cart-icon {
        right: 60px;
    }

    @media only screen and (max-device-width: 415px) and (min-device-width: 330px) {
        .help-keypad .help-icon, .help-favorite .help-icon {
            right: 10px;
        }

        .help-keypad .order-cart-icon, .help-favorite .order-cart-icon {
            right: 48px;
        }

        .help-keypad h1, .help-favorite h1 {
            width: calc(70% - 32px) !important;
            margin: 0 0 0 50px !important;
            font-size: 22px !important;
        }
    }

    @media only screen and (max-device-width: 330px) {
        .help-keypad .help-icon, .help-favorite .help-icon {
            right: 10px;
        }

        .help-keypad .order-cart-icon, .help-favorite .order-cart-icon {
            right: 46px;
        }

        .help-keypad h1, .help-favorite h1 {
            width: calc(70% - 50px) !important;
            margin: 0 0 0 50px !important;
            font-size: 21px !important;
        }
    }

    /** HOME KEYPAD SLIDE 1 **/

    .help-home-keypad-view .help-slide[data-slide-id="1"] .help-info {
        left: 15%;
    }

    .help-home-keypad-view .help-slide[data-slide-id="1"] .help-hand {
        left: 72%;
        animation: keypad-slide-1-hand-click 0.7s linear infinite;
    }

    .help-home-keypad-view .help-slide[data-slide-id="1"] .help-point {
        left: 74%;
    }

    @media only screen and (max-device-width: 360px) {
       .help-home-keypad-view .help-slide[data-slide-id="1"] .help-hand {
           left: 69%;
       }
    }

    /** HOME KEYPAD SLIDE 2 **/

    .help-home-keypad-view .help-slide[data-slide-id="2"] .help-info {
        left: 0.5%;
    }

    .help-home-keypad-view .help-slide[data-slide-id="2"] .help-point {
        transform: rotate(177deg);
        left: 0;
    }

    @media only screen and (max-device-width: 415px) {
        .help-home-keypad-view .help-slide[data-slide-id="2"] .help-info {
            left: 1%;
        }
    }

    /** HOME KEYPAD SLIDE 3 **/

    .help-home-keypad-view .help-slide[data-slide-id="3"] .help-info {
        left: 1%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-home-keypad-view .help-slide[data-slide-id="3"] .help-info {
            left: 2%;
        }

        .help-home-keypad-view .help-slide[data-slide-id="3"] .help-hand {
            left: 3%;
        }

        .help-home-keypad-view .help-slide[data-slide-id="2"] .help-point {
            top: -15px;
        }
    }

    /** HOME KEYPAD SLIDE 4 **/

    .help-home-keypad-view .help-slide[data-slide-id="4"] .help-info {
        left: 17%;
    }

    .help-home-keypad-view .help-slide[data-slide-id="4"] .help-hand {
        left: 50%;
        animation: keypad-slide-4-hand-click 0.7s linear infinite;
    }

    .help-home-keypad-view .help-slide[data-slide-id="4"] .help-point {
        left: 62%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-home-keypad-view .help-slide[data-slide-id="4"] .help-info {
            left: 7%;
        }

        .help-home-keypad-view .help-slide[data-slide-id="4"] .help-point {
            left: 59%;
        }

        .help-home-keypad-view .help-slide[data-slide-id="4"] .help-hand {
            left: 50%;
        }
    }

/** FAVORITE AND CART VIEW SLIDE SPECIFIC STYLES **/

    .help-favorite-cart-view .favorite-line {
        z-index: 1000;
        list-style: none;
        position: absolute;
    }
    
    .list-hide {
        display: block !important;
        position: absolute;
        opacity: 0;
        width: 100%;
    }

    .help-favorite-cart-view .help-hand {
        z-index: 1002;
    }

    .help-favorite-cart-view .help-arrow-line {
        height: 40px;
    }

    .help-favorite-cart-view .help-arrow-point {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
    }

    .help-favorite-cart-view .myQuickPicksFilterContainer {
        z-index: 1002;
        position: relative;
        top: 61px;
    }

    .help-favorite-cart-view .help-info.no-favorite-cart-help {
        top: 25% !important;
        left: 20% !important;
    }

        .help-favorite-cart-view .help-info.no-favorite-cart-help .help-point {
            display: none !important;    
        }

    @media only screen and (max-device-width: 415px) {
        .help-favorite-cart-view .help-arrow-line {
            height: 30px;
        }

        .help-favorite-cart-view .help-arrow-point {
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
        }

        .help-favorite-cart-view .help-info.no-favorite-cart-help {
            top: 32% !important;
            left: 11% !important;
        }
    }

    /** SLIDE 1, 4, 7 **/

    .help-favorite-cart-view .help-slide[data-slide-id="1"] .help-arrow-line,
    .help-favorite-cart-view .help-slide[data-slide-id="4"] .help-arrow-line,
    .help-favorite-cart-view .help-slide[data-slide-id="7"] .help-arrow-line {
        background-image: linear-gradient(90deg, rgba(255,255,255,0), #24ded6);
    }

    .help-favorite-cart-view .help-slide[data-slide-id="1"] .help-arrow-point,
    .help-favorite-cart-view .help-slide[data-slide-id="4"] .help-arrow-point,
    .help-favorite-cart-view .help-slide[data-slide-id="7"] .help-arrow-point {
        border-left: 36px solid #27ded6;
    }

    .help-favorite-cart-view .help-slide[data-slide-id="1"] .help-hand,
    .help-favorite-cart-view .help-slide[data-slide-id="4"] .help-hand,
    .help-favorite-cart-view .help-slide[data-slide-id="7"] .help-hand {
        transform: rotate(350deg);
        left: 50%;
        animation: favorite-hand-slide-1 1.8s linear infinite;
    }

    .help-favorite-cart-view .help-slide[data-slide-id="1"] .help-hand-circle,
    .help-favorite-cart-view .help-slide[data-slide-id="4"] .help-hand-circle,
    .help-favorite-cart-view .help-slide[data-slide-id="7"] .help-hand-circle {
        display: none;
    }

    .help-favorite-cart-view .help-slide[data-slide-id="1"] .help-info,
    .help-favorite-cart-view .help-slide[data-slide-id="4"] .help-info,
    .help-favorite-cart-view .help-slide[data-slide-id="7"] .help-info {
        left: 20%;
    }

    .help-favorite-cart-view .help-slide[data-slide-id="1"] .help-point,
    .help-favorite-cart-view .help-slide[data-slide-id="4"] .help-point,
    .help-favorite-cart-view .help-slide[data-slide-id="7"] .help-point {
        left: 46%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-favorite-cart-view .help-slide[data-slide-id="1"] .help-arrow-point,
        .help-favorite-cart-view .help-slide[data-slide-id="4"] .help-arrow-point,
        .help-favorite-cart-view .help-slide[data-slide-id="7"] .help-arrow-point {
            border-left: 30px solid #27ded6;
        }

        .help-favorite-cart-view .help-slide[data-slide-id="1"] .help-hand,
        .help-favorite-cart-view .help-slide[data-slide-id="4"] .help-hand,
        .help-favorite-cart-view .help-slide[data-slide-id="7"] .help-hand {
            animation: favorite-hand-slide-1 1s linear infinite;
            left: 50%;
        }

        .help-favorite-cart-view .help-slide[data-slide-id="1"] .help-info,
        .help-favorite-cart-view .help-slide[data-slide-id="4"] .help-info,
        .help-favorite-cart-view .help-slide[data-slide-id="7"] .help-info {
            left: 10%;
        }
    }

    /** SLIDE 2, 5 **/

    .help-favorite-cart-view .help-slide[data-slide-id="2"] .help-arrow,
    .help-favorite-cart-view .help-slide[data-slide-id="5"] .help-arrow{
        transform: rotate(180deg);
        left: 0;
    }

    .help-favorite-cart-view .help-slide[data-slide-id="2"] .help-arrow-line,
    .help-favorite-cart-view .help-slide[data-slide-id="5"] .help-arrow-line {
        background-image: linear-gradient(90deg, rgba(255,255,255,0), #de2424);
    }

    .help-favorite-cart-view .help-slide[data-slide-id="2"] .help-arrow-point,
    .help-favorite-cart-view .help-slide[data-slide-id="5"] .help-arrow-point {
        border-left: 36px solid #df2626;
        position: relative;
        right: 1px;
    }

    .help-favorite-cart-view .help-slide[data-slide-id="2"] .help-hand,
    .help-favorite-cart-view .help-slide[data-slide-id="5"] .help-hand {
        transform: rotate(13deg);
        left: 50%;
        animation: favorite-hand-slide-2 1.8s linear infinite;
    }

    .help-favorite-cart-view .help-slide[data-slide-id="2"] .help-hand-circle,
    .help-favorite-cart-view .help-slide[data-slide-id="5"] .help-hand-circle {
        display: none;
    }

    .help-favorite-cart-view .help-slide[data-slide-id="2"] .help-info,
    .help-favorite-cart-view .help-slide[data-slide-id="5"] .help-info {
        left: 20%;
    }

    .help-favorite-cart-view .help-slide[data-slide-id="2"] .help-point,
    .help-favorite-cart-view .help-slide[data-slide-id="5"] .help-point {
        left: 46%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-favorite-cart-view .help-slide[data-slide-id="2"] .help-arrow,
        .help-favorite-cart-view .help-slide[data-slide-id="5"] .help-arrow {
            left: 7%;
        }

        .help-favorite-cart-view .help-slide[data-slide-id="2"] .help-arrow-point,
        .help-favorite-cart-view .help-slide[data-slide-id="5"] .help-arrow-point {
            border-left: 30px solid #df2626;
        }

        .help-favorite-cart-view .help-slide[data-slide-id="2"] .help-hand,
        .help-favorite-cart-view .help-slide[data-slide-id="5"] .help-hand {
            animation: favorite-hand-slide-2 1s linear infinite;
            left: 39%;
        }

        .help-favorite-cart-view .help-slide[data-slide-id="2"] .help-info,
        .help-favorite-cart-view .help-slide[data-slide-id="5"] .help-info {
            left: 8%;
        }
    }

    /** SLIDE 3, 6, 8 **/

    .help-favorite-cart-view .help-slide[data-slide-id="3"] .help-hand,
    .help-favorite-cart-view .help-slide[data-slide-id="6"] .help-hand,
    .help-favorite-cart-view .help-slide[data-slide-id="8"] .help-hand {
        left: 50%;
        animation: favorite-slide-3-hand-click 0.7s linear infinite;
    }

    .help-favorite-cart-view .help-slide[data-slide-id="3"] .help-info,
    .help-favorite-cart-view .help-slide[data-slide-id="6"] .help-info,
    .help-favorite-cart-view .help-slide[data-slide-id="8"] .help-info {
        left: 21%;
    }

    .help-favorite-cart-view .help-slide[data-slide-id="3"] .help-point,
    .help-favorite-cart-view .help-slide[data-slide-id="6"] .help-point,
    .help-favorite-cart-view .help-slide[data-slide-id="8"] .help-point {
        left: 62%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-favorite-cart-view .help-slide[data-slide-id="3"] .help-hand,
        .help-favorite-cart-view .help-slide[data-slide-id="6"] .help-hand,
        .help-favorite-cart-view .help-slide[data-slide-id="8"] .help-hand {
            left: 47%;
        }

        .help-favorite-cart-view .help-slide[data-slide-id="3"] .help-info,
        .help-favorite-cart-view .help-slide[data-slide-id="6"] .help-info,
        .help-favorite-cart-view .help-slide[data-slide-id="8"] .help-info {
            left: 13%;
        }

        .help-favorite-cart-view .help-slide[data-slide-id="3"] .help-point,
        .help-favorite-cart-view .help-slide[data-slide-id="6"] .help-point,
        .help-favorite-cart-view .help-slide[data-slide-id="8"] .help-point {
            left: 53%;
        }
    }

/** RECEIPT SLIDE SPECIFIC STYLES **/

    .help-receipt-view #receipt-order-icons-dupe {
        display: flex;
        position: absolute;
        justify-content: space-around;
        align-items: center;
        padding: 15px 0;
    }

    .help-receipt-view #receipt-order-icons-dupe .favorite-order-icon, .help-receipt-view #receipt-order-icons-dupe .add-to-cart-icon, .help-receipt-view #receipt-order-icons-dupe .express-order-icon {
        z-index: 0;
    }

    .help-receipt-view .favorite-order-icon.receipt-help-icon, .help-receipt-view .add-to-cart-icon.receipt-help-icon, .help-receipt-view .express-order-icon.receipt-help-icon {
        z-index: 1001 !important;
    }

    .help-receipt-view .favorite-order-icon {
        width: 47px;
        height: 45px;
        margin-bottom: 5px;
    }

    .help-receipt-view .add-to-cart-svg {
        width: 73px;
    }

    .help-receipt-view .express-cart-svg {
        width: 85px;
    }

    .help-receipt-view .help-hand-circle {
        display: block;
    }

    /** RECEIPT SLIDE 1 **/

    .help-receipt-view .help-slide[data-slide-id="1"] .help-hand {
        animation: receipt-slide-1-hand-click 0.7s linear infinite;
        left: 18%;
    }

    .help-receipt-view .help-slide[data-slide-id="1"] .help-info {
        left: 13%;
    }

    .help-receipt-view .help-slide[data-slide-id="1"] .help-point {
        left: 21%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-receipt-view .help-slide[data-slide-id="1"] .help-hand {
            left: 13%;
        }

        .help-receipt-view .help-slide[data-slide-id="1"] .help-info {
            left: 3%;
        }

        .help-receipt-view .help-slide[data-slide-id="1"] .help-point {
            left: 21%;
        }
    }

    /** RECEIPT SLIDE 2 **/

    .help-receipt-view .help-slide[data-slide-id="2"] .help-hand {
        animation: receipt-slide-2-hand-click 0.7s linear infinite;
        left: 43%;
    }

    .help-receipt-view .help-slide[data-slide-id="2"] .help-info {
        left: 19%;
    }

    .help-receipt-view .help-slide[data-slide-id="2"] .help-point {
        left: 50%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-receipt-view .help-slide[data-slide-id="2"] .help-hand {
            left: 41%;
        }

        .help-receipt-view .help-slide[data-slide-id="2"] .help-info {
            left: 9%;
        }

        .help-receipt-view .help-slide[data-slide-id="2"] .help-point {
            left: 45%;
        }
    }

    /** RECEIPT SLIDE 3 **/

    .help-receipt-view .help-slide[data-slide-id="3"] .help-hand {
        animation: receipt-slide-3-hand-click 0.7s linear infinite;
        left: 70%;
    }

    .help-receipt-view .help-slide[data-slide-id="3"] .help-info {
        left: 30%;
    }

    .help-receipt-view .help-slide[data-slide-id="3"] .help-point {
        left: 70%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-receipt-view .help-slide[data-slide-id="3"] .help-hand {
            left: 74%;
        }

        .help-receipt-view .help-slide[data-slide-id="3"] .help-info {
            left: 13%;
        }

        .help-receipt-view .help-slide[data-slide-id="3"] .help-point {
            left: 73%;
        }
    }

/** PURCHASE HISTORY SLIDE SPECIFIC STYLES **/

    #transaction-list .transaction-line.help-purchases {
        z-index: 1001;
    }

    .help-purchase-history-view .help-hand-circle {
        display: block;
    }

    /** PURCHASE HISTORY SLIDE 1 **/

    .help-purchase-history-view .help-slide[data-slide-id="1"] .help-hand {
        animation: purchase-history-slide-1-hand-click 0.7s linear infinite;
    }

        .help-purchase-history-view .help-slide[data-slide-id="1"] .help-hand.flip {
            animation: purchase-history-slide-1-hand-click-flip 0.7s linear infinite;
        }

    .help-purchase-history-view .help-slide[data-slide-id="1"] .help-info {
        left: 33%;
    }

    .help-purchase-history-view .help-slide[data-slide-id="1"] .help-point {
        left: 73%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-purchase-history-view .help-slide[data-slide-id="1"] .help-info {
            left: 12%;
        }

        .help-purchase-history-view .help-slide[data-slide-id="1"] .help-point {
            left: 75%;
        }
    }

    /** PURCHASE HISTORY SLIDE 2 **/

    .help-text .legend-container {
        margin: 15px auto 0;
        width: fit-content;
    }

    .help-text .trans-type-container {
        font-size: 17px;
        text-align: left;
    }

    .help-text .trans-type-sale-icon, .help-text .trans-type-open-icon, .help-text .trans-type-refund-icon, .help-text .trans-type-void-icon, .help-text .trans-type-cancel-icon {
        margin-right: 10px;
    }

    .help-purchase-history-view .help-slide[data-slide-id="2"] .help-hand {
        animation: purchase-history-slide-2-hand-click 0.7s linear infinite;
    }

        .help-purchase-history-view .help-slide[data-slide-id="2"] .help-hand.flip {
            animation: purchase-history-slide-2-hand-click-flip 0.7s linear infinite;
        }

    .help-purchase-history-view .help-slide[data-slide-id="2"] .help-info {
        left: 2%;
    }

    .help-purchase-history-view .help-slide[data-slide-id="2"] .help-point {
        left: 10%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-text .trans-type-container {
            font-size: 14.5px;
        }

        .help-purchase-history-view .help-slide[data-slide-id="2"] .help-info {
            left: 2%;
        }

        .help-purchase-history-view .help-slide[data-slide-id="2"] .help-point {
            left: 10%;
        }
    }

/** ACCOUNT FUNDING SLIDE SPECIFIC STYLES **/

    #accountfundingview.help-scroll {
        overflow-y: scroll;
    }

    .help-funding-view button {
        outline: none;
    }

    .help-funding-view #accountFunding_paymentMethodDupe, .help-funding-view #accountFunding_fundOneTimeDupe,
    .help-funding-view #accountFunding_balanceDupe, .help-funding-view #accountFunding_filterDupe, .help-funding-view #accountFunding_fundAutomaticDupe {
        position: absolute;
        width: 80%;
        padding: 10px 5px;
        box-shadow: 1px 1px 5px #6d6d6d;
    }

    .help-funding-view #accountFunding_balanceDupe {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        min-height: 110px;
    }

    .help-funding-view #accountFunding_filterDupe {
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
        font-size: 18px;
        border-radius: 10px;
    }

    .help-funding-view #accountFunding_filterDupe #accountFunding_filter_one {
        border: none;
    }

    .help-funding-view #accountFunding_paymentMethodDupe.active-help, .help-funding-view #accountFunding_fundOneTimeDupe.active-help,
    .help-funding-view #accountFunding_balanceDupe.active-help, .help-funding-view #accountFunding_filterDupe.active-help, .help-funding-view #accountFunding_fundAutomaticDupe.active-help {
        z-index: 1001;
    }

    .help-funding-view #accountFunding_paymentMethodDupe #modifyPaymentMethodBtn {
        font-weight: normal;
        letter-spacing: 0.01em;
        line-height: 1em;
        text-transform: uppercase;
    }

    .help-funding-view #accountFunding_fundOneTimeDupe {
        text-align: center;
    }

    .help-funding-view #accountFunding_paymentMethodDupe #modifyPaymentMethodBtn, .help-funding-view #accountFunding_fundOneTimeDupe #oneTimePaymentButton,
    .help-funding-view #accountFunding_balanceDupe #fundingHistoryButton, .help-funding-view #accountFunding_fundAutomaticDupe #toggleAutomaticButton,
    .help-funding-view #accountFunding_fundAutomaticDupe #modifyAutomaticButton, .help-funding-view #accountFunding_fundAutomaticDupe #cancelModifyAutomaticButton,
    .help-funding-view #accountFunding_fundAutomaticDupe #saveModifyAutomaticButton, .help-funding-view #accountFunding_paymentMethodDupe #removePaymentMethodBtn {
        font-weight: normal;
        letter-spacing: 0.01em;
        line-height: 1em;
        text-transform: uppercase;
    }

    .help-funding-view .help-hand-circle {
        display: block;
    }

    @media only screen and (max-device-width: 415px) {
        .help-funding-view #accountFunding_paymentMethodDupe, .help-funding-view #accountFunding_fundOneTimeDupe,
        .help-funding-view #accountFunding_balanceDupe, .help-funding-view #accountFunding_filterDupe, .help-funding-view #accountFunding_fundAutomaticDupe {
            width: 90%;
        }

        .help-funding-view #accountFunding_filterDupe {
            font-size: 16px;
        }
    }

    /** ACCOUNT FUNDING SLIDE 1 **/

    .help-funding-view .help-slide[data-slide-id="1"] .help-hand {
        left: 73%;
        animation: funding-slide-1-hand-click 0.7s linear infinite;
    }

    .help-funding-view .help-slide[data-slide-id="1"] .help-info {
        left: 29%;
    }

    .help-funding-view .help-slide[data-slide-id="1"] .help-point {
        left: 84%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-funding-view .help-slide[data-slide-id="1"] .help-info {
            left: 15%;
        }

        .help-funding-view .help-slide[data-slide-id="1"] .help-point {
            left: 81%;
        }
    }

    /** ACCOUNT FUNDING SLIDE 2 **/

    .help-funding-view .help-slide[data-slide-id="2"] .help-hand {
        left: 43%;
        animation: funding-slide-2-hand-click 0.7s linear infinite;
    }

    .help-funding-view .help-slide[data-slide-id="2"] .help-info {
        left: 22%;
    }

    .help-funding-view .help-slide[data-slide-id="2"] .help-point {
        left: 44%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-funding-view .help-slide[data-slide-id="2"] .help-info {
            z-index: 1002;
            left: 10%;
        }

        .help-funding-view .help-slide[data-slide-id="2"] .help-point {;
            left: 49%;
        }
    }

    /** ACCOUNT FUNDING SLIDE 3 **/

    .help-funding-view .help-slide[data-slide-id="3"] .help-hand {
        left: 13%;
        animation: funding-slide-1-hand-click 0.7s linear infinite;
    }

    .help-funding-view .help-slide[data-slide-id="3"] .help-info {
        left: 7%;
    }

    .help-funding-view .help-slide[data-slide-id="3"] .help-point {
        left: 20%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-funding-view .help-slide[data-slide-id="3"] .help-info {
            left: 9%;
        }

        .help-funding-view .help-slide[data-slide-id="3"] .help-point {
            left: 16%;
        }
    }

    /** ACCOUNT FUNDING SLIDE 4 **/

    .help-funding-view .help-slide[data-slide-id="4"] .help-hand {
        left: 65%;
        animation: funding-slide-1-hand-click 0.7s linear infinite;
    }

    .help-funding-view .help-slide[data-slide-id="4"] .help-info {
        left: 29%;
    }

    .help-funding-view .help-slide[data-slide-id="4"] .help-point {
        left: 70%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-funding-view .help-slide[data-slide-id="4"] .help-info {
            left: 14%;
        }

        .help-funding-view .help-slide[data-slide-id="4"] .help-point {
            left: 75%;
        }
    }

    /** ACCOUNT FUNDING SLIDE 5 **/

    .help-funding-view .help-slide[data-slide-id="5"] .help-hand {
        left: 60%;
        animation: funding-slide-5-hand-click 0.7s linear infinite;
    }

    .help-funding-view .help-slide[data-slide-id="5"] .help-info {
        left: 26%;
    }

    .help-funding-view .help-slide[data-slide-id="5"] .help-point {
        left: 61%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-funding-view .help-slide[data-slide-id="5"] .help-hand {
            left: 63%;
        }

        .help-funding-view .help-slide[data-slide-id="5"] .help-info {
            z-index: 1002;
            left: 14%;
        }

        .help-funding-view .help-slide[data-slide-id="5"] .help-point {;
            left: 74%;
        }
    }

    /** ACCOUNT FUNDING SLIDE 6 **/

    .help-funding-view .help-slide[data-slide-id="6"] .help-hand {
        left: 62%;
        animation: funding-slide-5-hand-click 0.7s linear infinite;
    }

    .help-funding-view .help-slide[data-slide-id="6"] .help-info {
        z-index: 1002;
        left: 26%;
    }

    .help-funding-view .help-slide[data-slide-id="6"] .help-point {
        left: 65%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-funding-view .help-slide[data-slide-id="6"] .help-hand {
            left: 64%;
        }

        .help-funding-view .help-slide[data-slide-id="6"] .help-info {
            z-index: 1002;
            left: 14%;
        }

        .help-funding-view .help-slide[data-slide-id="6"] .help-point {;
            left: 74%;
        }
    }

    /** ACCOUNT FUNDING SLIDE 7 **/

    .help-funding-view .help-slide[data-slide-id="7"] .help-hand {
        left: 14%;
        animation: funding-slide-7-hand-click 0.7s linear infinite;
    }

    .help-funding-view .help-slide[data-slide-id="7"] .help-info {
        z-index: 1002;
        left: 10%;
    }

    .help-funding-view .help-slide[data-slide-id="7"] .help-point {
        left: 15%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-funding-view .help-slide[data-slide-id="7"] .help-info {
            z-index: 1002;
            left: 8%;
        }

        .help-funding-view .help-slide[data-slide-id="7"] .help-point {;
            left: 15%;
        }
    }

    /** ACCOUNT FUNDING SLIDE 8 **/

    .faq-question-link {
        text-decoration: underline;
        color: #001fff;
        margin: 5px 0 20px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .faq-question-link:active {
        color: #282e58;
    }

    .help-funding-view .help-slide[data-slide-id="8"] .help-info {
        left: 19%;
        top:33%;
    }

    .help-funding-view .help-slide[data-slide-id="8"] .help-point {
        display: none;
    }

    @media only screen and (max-device-width: 415px) {
        .help-funding-view .help-slide[data-slide-id="8"] .help-info {
            left: 10%;
        }
    }

    /** ACCOUNT FUNDING SLIDE 9 **/

    .help-funding-view .help-slide[data-slide-id="9"] .help-hand {
        left: 72%;
        animation: funding-slide-9-hand-click 0.7s linear infinite;
    }

    .help-funding-view .help-slide[data-slide-id="9"] .help-info {
        z-index: 1002;
        left: 30%;
    }

    .help-funding-view .help-slide[data-slide-id="9"] .help-point {
        left: 74%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-funding-view .help-slide[data-slide-id="9"] .help-hand {
            left: 65%;
        }

        .help-funding-view .help-slide[data-slide-id="9"] .help-info {
            z-index: 1002;
            left: 10%;
        }

        .help-funding-view .help-slide[data-slide-id="9"] .help-point {;
            left: 69%;
        }
    }

    /** ACCOUNT FUNDING SLIDE 10 **/

    .help-funding-view .help-slide[data-slide-id="10"] .help-hand {
        left: 14%;
        animation: funding-slide-7-hand-click 0.7s linear infinite;
    }

    .help-funding-view .help-slide[data-slide-id="10"] .help-info {
        z-index: 1002;
        left: 10%;
    }

    .help-funding-view .help-slide[data-slide-id="10"] .help-point {
        left: 15%;
    }

    @media only screen and (max-device-width: 415px) {
        .help-funding-view .help-slide[data-slide-id="10"] .help-info {
            z-index: 1002;
            left: 8%;
        }

        .help-funding-view .help-slide[data-slide-id="10"] .help-point {;
            left: 15%;
        }
    }

    /** ACCOUNT FUNDING SLIDE 11 **/

    .faq-question-link {
        text-decoration: underline;
        color: #001fff;
        margin: 5px 0 20px;
        cursor: pointer;
    }

    .faq-question-link:active {
        color: #282e58;
    }

    .help-funding-view .help-slide[data-slide-id="11"] .help-info {
        left: 19%;
        top:33%;
    }

    .help-funding-view .help-slide[data-slide-id="11"] .help-point {
        display: none;
    }

    @media only screen and (max-device-width: 415px) {
        .help-funding-view .help-slide[data-slide-id="11"] .help-info {
            left: 10%;
        }
    }

/** HELP KEYFRAMES **/

    /** HELP CIRCLE **/

    @keyframes hand-circle-click {
        0% {
            opacity: 1;
            transform: scale(0);
        }
        100% {
            opacity: 0.2;
            transform: scale(1.5);
        }
    }

    /** STORE KEYFRAMES **/

    @keyframes store-slide-1-hand-click {
        0% { transform: rotate(197deg) scale(1); }
        100% { transform: rotate(197deg) scale(1.1); }
    }

    @keyframes store-slide-2 {
        0% { left: 30%; }
        100% { left: 60%; }
    }

    @keyframes store-slide-3-hand-click {
        0% { transform: rotate(169deg) scale(1); }
        100% { transform: rotate(169deg) scale(1.1); }
    }

    @keyframes store-slide-4-hand-click {
        0% { transform: rotate(190deg) scale(1); }
        100% { transform: rotate(190deg) scale(1.1); }
    }

    @keyframes store-slide-5-hand-click {
        0% { transform: rotate(173deg) scale(1); }
        100% { transform: rotate(173deg) scale(1.1); }
    }

    @keyframes store-slide-6-hand-click {
        0% { transform: rotate(8deg) scale(1); }
        100% { transform: rotate(8deg) scale(1.1); }
    }

    /** HOME KEYPAD KEYFRAMES **/

    @keyframes keypad-slide-1-hand-click {
        0% { transform: rotate(168deg) scale(1); }
        100% { transform: rotate(168deg) scale(1.1); }
    }

    @keyframes keypad-slide-4-hand-click {
        0% { transform: rotate(8deg) scale(1); }
        100% { transform: rotate(8deg) scale(1.1); }
    }

    /** FAVORITE KEYFRAMES **/

    @keyframes favorite-hand-slide-1 {
        0% { left: 40%; }
        100% { left: 70%; }
    }

    @keyframes favorite-hand-slide-2 {
        0% { left: 50%; }
        100% { left: 20%; }
    }

    @keyframes favorite-slide-3-hand-click {
        0% { transform: rotate(340deg) scale(1); }
        100% { transform: rotate(340deg) scale(1.1); }
    }

    /** PURCHASE HISTORY KEYFRAMES **/

    @keyframes purchase-history-slide-1-hand-click {
        0% { transform: rotate(350deg) scale(1); }
        100% { transform: rotate(350deg) scale(1.1); }
    }

    @keyframes purchase-history-slide-2-hand-click {
        0% { transform: rotate(345deg) scale(1); }
        100% { transform: rotate(345deg) scale(1.1); }
    }

    @keyframes purchase-history-slide-1-hand-click-flip {
        0% { transform: rotate(207deg) scale(1); }
        100% { transform: rotate(207deg) scale(1.1); }
    }

    @keyframes purchase-history-slide-2-hand-click-flip {
        0% { transform: rotate(215deg) scale(1); }
        100% { transform: rotate(215deg) scale(1.1); }
    }

    /** RECEIPT KEYFRAMES **/

    @keyframes receipt-slide-1-hand-click {
        0% { transform: rotate(347deg) scale(1); }
        100% { transform: rotate(347deg) scale(1.1); }
    }

    @keyframes receipt-slide-2-hand-click {
        0% { transform: rotate(352deg) scale(1); }
        100% { transform: rotate(352deg) scale(1.1); }
    }

    @keyframes receipt-slide-3-hand-click {
        0% { transform: rotate(352deg) scale(1); }
        100% { transform: rotate(352deg) scale(1.1); }
    }

    /** ACCOUNT FUNDING KEYFRAMES **/

    @keyframes funding-slide-1-hand-click {
        0% { transform: rotate(352deg) scale(1); }
        100% { transform: rotate(352deg) scale(1.1); }
    }

    @keyframes funding-slide-2-hand-click {
        0% { transform: rotate(195deg) scale(1); }
        100% { transform: rotate(195deg) scale(1.1); }
    }

    @keyframes funding-slide-5-hand-click {
        0% { transform: rotate(170deg) scale(1); }
        100% { transform: rotate(170deg) scale(1.1); }
    }

    @keyframes funding-slide-7-hand-click {
        0% { transform: rotate(198deg) scale(1); }
        100% { transform: rotate(198deg) scale(1.1); }
    }

    @keyframes funding-slide-9-hand-click {
        0% { transform: rotate(170deg) scale(1); }
        100% { transform: rotate(170deg) scale(1.1); }
    }
