/** Styles specifically for keypad lines **/

/** TILE SPECIFIC KEYPAD AND STORE STYLES **/

.tile-keypad.keypad-page, #show-order.tile-stores, .tile-keypad.modifier-page, .tile-keypad.modifier-page .keypad-list, .tile-favorites#my-quick-picks-page {
    background: rgba(250, 250, 250, 1);
}

    .tile-keypad .keypad-line, .tile-keypad .line-modifier, .tile-stores .orderStoreLine, .tile-keypad .keypad-line_full, .tile-favorites .favorite-line {
        margin: 8px 7px;
        border-radius: 5px;
        border: 1px solid rgba(142, 142, 142, 0.2);
        box-shadow: 1px 1px 4px rgba(142,142,142,0.09);
    }

.tile-keypad #myQuickPicks {
    margin: 0;
    border-radius: 0;
}

.tile-keypad .keypad-line_full {
    border: none;
    margin: 8px 8px;
}

.tile-keypad .line-modifier {
    padding: 4px 1px;
    background: white;
}

.tile-stores .orderStoreLine {
    margin: 8px 7px 10px ;
    min-height: 90px;
    border-top: 1px solid rgba(142, 142, 142, 0.2) !important;
}

    .tile-stores .orderStoreLine.store-image-full {
        border: none !important;
        box-shadow: 2px 2px 4px rgba(142,142,142,0.3) !important;
        min-height: 160px;
    }

.tile-keypad .keypad-header {
    border-bottom: 1px solid rgb(236, 236, 236);
}

.tile-favorites .populated {
    border-top: 0;
}

/** DEFAULT KEYPAD LINE STYLES **/

    .keypad-line {
        background: #fff;
        border-bottom: 1px solid #ccc;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        min-height: 65px;
    }

        .line_title-container {
            display: flex;
            justify-content: space-between;
        }

            .line_name {
                transition: all 200ms linear;
                color: #000;
                font-size: 17px;
                font-weight: bold;
                display: flex;
                align-items: flex-end;
            }

                .keypad-line_bold .line_name {
                    font-weight: normal;
                }

                .line_name-span {
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    overflow: hidden;
                    word-break: break-word;
                }

                .quickpick-icon {
                    width: 14px;
                    height: 14px;
                    margin-right: 4px;
                }

                    .heart-line-icon {
                        width: 13px !important;
                    }

                .line_name .quickpick-icon {
                    position: relative;
                    bottom: 3px;
                }

                    .line_name-span .quickpick-icon {
                        position: relative;
                        bottom: 0;
                        top: 1px;
                    }

                        .line_name img:first-of-type, .line_name-span .quickpick-icon:first-child {
                            margin-left: 4px
                        }

            .line_price {
                color: #133d8d;
                display: flex;
                font-size: 17px;
                font-weight: bold;
            }

                .keypad-line_bold .line_price {
                    font-weight: normal;
                }

                .line_currency {
                    margin: 0 1px 0 1px;
                }

                    .line_currency.hidden {
                        display: none;
                    }


                    .line_currency-dollar {
                        margin: 2px 2px 0 4px;
                        font-size: 13px;
                        font-weight: bold;
                    }

            .menu-arrow-svg {
                transform: scale(-1, -1);
                width: 13px;
                height: 13px;
                align-self: center;
                display: none;
            }

            .menu-arrow-svg.show-menu-arrow {
                display: flex;
            }

        .line_description {
            font-size: 13px;
            font-weight: normal;
            color: #4e4e4e;
            max-height: 70px;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            display: -webkit-box;
            overflow: hidden;
            position: relative;
        }

            .line_description.hidden {
                display: none;
            }

            .line_clamp-3 {
                -webkit-line-clamp: 3;
            }

            .line_clamp-2 {
                -webkit-line-clamp: 2;
            }

            .line_clamp-1 {
                -webkit-line-clamp: 1;
            }

            .line_overflow {
                display: none;
            }

    .line_info-container.align-row {
        display: flex;
        align-items: center;
        margin: 2px 0 1px;
    }

        .line_nutrition-container {
            display: none;
            margin-top: 4px;
            position: relative;
            right: 1px;
        }

            .line_nutrition-container.show-nutrition {
                display: inline-flex;
                flex-wrap: wrap;
            }

            .align-row .line_nutrition-container {
                margin-top: 0;
                margin-right: 2px;
                position: relative;
                top: 1px;
            }

            .line_nutrition-info {
                font-size: 12px;
                font-style: italic;
                font-weight: normal;
                text-align: left;
                margin-right: 3px;
                border-right: 1px solid #ccc;
                padding-right: 4px;
                color: #8c8c8c;
            }

            .line_nutrition-container .line_nutrition-info:last-child {
                border-right: 0;
                padding-right: 0;
            }

                .line_nutrition-info-label {
                    font-size: 11px;
                }

        .line_icon-container {
            display: none;
            margin-top: 4px;
        }

            .line_icon-container.show-icons {
                display: flex;
            }

            .align-row .line_icon-container{
                margin-top: 0;
            }

            .line_icon-container img {
                width: 14px;
                height: 14px;
                margin-right: 4px;
            }

        .line_image-container {
            width: 120px;
        }

            .line_image-container.shrink-to-fit {
                border-radius: 5px;
            }

            .line_image-container.shrink-to-fit-circle {
                border-radius: 50%;
            }

            .line_image-container.line_image-square, .line_image-container.line_image-circle {
                margin: 5px 0;
                padding: 0;
                display: flex;
                justify-content: center;
                width: 95px;
            }

            .line_image {
                height: 100%;
                width: inherit;
                border-radius: 5px;
                min-height: 90px;

                background-position: center;
                background-repeat: no-repeat;
                background-color: #f1f1f1;
            }

                .line_image-circle .line_image {
                    border-radius: 50%;
                    height: 95px;
                    width: 95px;
                }

                .line_image-square .line_image {
                    width: 95px;
                    height: 90px;
                }
                
    .hide-line-clone {
        display: none !important;
    }

@media only screen and (min-device-width: 415px) {
    .line_name, .line_price {
        font-size: 17px;
    }

    .line_description {
        font-size: 14px;
    }

    .tile-keypad .keypad-line, .tile-keypad .keypad-line_full, .tile-keypad .line-modifier {
        margin: 12px 14px;
    }

    .tile-stores .orderStoreLine {
        min-height: 100px;
        margin: 12px 14px 10px;
    }

    .tile-stores .orderStoreLine.store-image-full {
        min-height: 195px;
    }
}

/**** ORIGINAL LINE (NO IMAGE) *****/

.keypad-line_original, .keypad-line_original-below {
    padding: 10px;
    display: flex;
    align-items: center;
}

    .line-original_details {
        width: 100%;
    }

        .keypad-line_original .line-original_name {
            padding-right: 10px;
        }

        .line-original_description {
            margin-top: 4px;
        }

    .keypad-line_original-below .line_info-container.align-row {
        justify-content: space-between;
    }

        .price-below-margin {
            margin-top: 5px;
        }

        .keypad-line_original-below .line_currency-dollar, .keypad-line_original-below .line_currency {
            margin-left: 0;
        }

/**** LEFT LINE *****/

.keypad-line_left, .keypad-line_left-below {
    display: flex;
    align-items: center;
    padding: 0 10px 0 8px;
}

    .line-left_image-container {
        margin: 8px 0;
    }

    .line-left_details {
        padding: 7px 0 6px 8px;
        flex: 1;
    }

        .keypad-line_left .line-left_name {
            padding-right: 10px;
        }

        .line-left_description {
            margin-top: 4px;
        }

    .keypad-line_left-below .line_info-container.align-row {
        justify-content: space-between;
    }

        .keypad-line_left-below .line_currency-dollar, .keypad-line_left-below .line_currency {
            margin-left: 0;
        }

/**** RIGHT LINE *****/

.keypad-line_right, .keypad-line_right-below {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

    .line-right_image-container {
        margin: 5px 0;
    }

    .line-right_details {
        padding: 7px 8px 6px 0;
        flex: 1;
    }

        .keypad-line_right .line-right_name {
            padding-right: 10px;
        }

        .line-right_description {
            margin-top: 4px;
        }

    .keypad-line_right-below .line_info-container.align-row {
        justify-content: space-between;
    }

        .keypad-line_right-below .line_currency-dollar, .keypad-line_right-below .line_currency {
            margin-left: 0;
        }


/**** CENTER LINE *****/

.keypad-line_center {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.line-center_image-container {
    margin: 5px 0;
}

.line-center_details {
    padding: 7px 8px 6px 0;
    flex: 1;
}

.line-center_description {
    margin-top: 4px;
}

.line-center_price {
    padding-left: 10px;
}

/**** BOTTOM LINE *****/

.keypad-line_bottom {
    display: flex;
    justify-content: space-between;
    padding: 7px 10px 5px;
}

    .line-bottom_details {
        padding-right: 8px;
        flex: 1;
    }

        .line-bottom_name {
            padding-right: 10px;
        }

        .line-bottom_description {
            -webkit-line-clamp: 5;
            max-height: 90px;
            margin-top: 4px;
        }

            .line-bottom_description.line_clamp-4 {
                -webkit-line-clamp: 4 !important;
            }

            .line-bottom_description.line_clamp-3 {
                -webkit-line-clamp: 3 !important;
            }

            .line-bottom_description.line_clamp-2 {
                -webkit-line-clamp: 2 !important;
            }

            .line-bottom_description.line_clamp-1 {
                -webkit-line-clamp: 1 !important;
            }

    .line-bottom_container {
        display: flex;
        flex-direction: column;
    }

        .line-bottom_price {
            padding-bottom: 4px;
            justify-content: flex-end;
        }

        .line-bottom_image-container.line_image-square, .line-bottom_image-container.line_image-circle {
            margin: 0 0 2px;
        }


/**** FULL LINE *****/

.keypad-line_full {
    padding: 0;
}

    .line-full_image {
        width:100%;
        max-width: 100%;
        padding: 0;
        align-items: flex-end;
        min-height: 125px;
        justify-content: space-between;
        display: flex;
        border-radius: 0;
        background-color: #fff;
        transition: background-image 0.2s ease-in-out;
    }

    .line-full_details {
        align-self: flex-start;
        max-width: 70%;
        padding: 10px 15px;
        background: rgba(0,0,0,0.37);
    }

        .line-full_name {
            color: #fff;
            flex: initial;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: fit-content;
            max-width: 100%;
        }

            .line-full_name .line_name-span {
                white-space: pre-wrap;
            }

        .line-full_description {
            color: #fff;
            margin-top: 5px;
            -webkit-line-clamp: 3;
        }

            .line-full_description.line_clamp-2 {
                -webkit-line-clamp: 2;
            }

            .line-full_description.line_clamp-1 {
                -webkit-line-clamp: 1;
            }

        .line-full_details .line_nutrition-info {
            color: #fff;
        }

    .line-full_icon-container {
        position: absolute;
        right: 5px;
        top: 0;
    }

        .line-full_icon-container img {
            filter: drop-shadow(1px 3px 4px rgba(255,255,255,0.2));
        }

    .line-full_price {
        background: rgba(0,0,0,0.37);
        color: #fff;
        text-align: center;
        padding: 8px;
        max-width: 30%;
        min-width: 23%;
        display: flex;
        justify-content: center;
    }

/** Internet Explorer styles **/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .line-full_price {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .keypad-line_original.format-original, .keypad-line_original-below.format-original {
        height: 64px;
    }

    .line_overflow {
        position: absolute;
        right: 5px;
        bottom: 0;
        font-size: 14px;
        background: #fff;
    }

    .line-full_description .line_overflow {
        display: none !important;
    }

    .line-bottom_description {
        max-height: 85px;
    }

    .line_description, .line-bottom_description.line_clamp-4 {
        max-height: 68px;
    }

    .line_description.line_clamp-3, .line_description.line_clamp-3, .line-bottom_description.line_clamp-3, .line-full_description {
        max-height: 51px;
    }

    .line_description.line_clamp-2, .line-bottom_description.line_clamp-2, .line-full_description.line_clamp-2 {
        max-height: 34px;
    }

    .line_description.line_clamp-1, .line-bottom_description.line_clamp-1, .line-full_description.line_clamp-1 {
        max-height: 17px;
    }

    .line_name.line_clamp-4 {
        max-height: 84px;
    }

    .line_name.line_clamp-3 {
        max-height: 63px;
    }

    .line_name.line_clamp-2 {
        max-height: 42px;
    }

    .line_name.line_clamp-1 {
        max-height: 21px;
    }

    .favorite-line-details {
        width: 85% !important;
    }

    .line-content.hasImage .favorite-line-details {
        width: 85% !important;
    }
}

@media only screen and (min-device-width: 415px) {
    .line-full_image {
        min-height: 175px;
    }
}


/** DEFAULT CART LINE STYLES **/

.cart-line {
    display: flex !important;
    padding: 15px 10px;
}

    .cart-line_name-container {
        word-break: break-word;
        padding-right: 5px;
    }

        .cart-line_name {
            font-size: 17px;
        }

            .cart-line_name .line_currency-dollar {
                margin: 0 1px;
                position: relative;
                bottom: 2px;
            }

            .cart-line_name .line_currency-dollar {
                margin: 0 1px;
            }

        .cart-line_modifiers {
            color: #808080;
            font-size: 14px;
            margin-top: 3px;
            font-weight: normal;
        }

        .review-line .cart-line_modifiers {
            padding-left: 10px;
        }

            .cart-line_modifiers .line_currency-dollar {
                position: relative;
                bottom: 1px;
                margin: 0;
                font-size: 12px;
                font-weight: normal;
            }

            .cart-line_modifiers .line_currency {
                font-weight: normal;
            }

        .cart-line_icon-container {
            display: none;
            margin-top: 6px;
        }

            .cart-line_icon-container.show-icons {
                display: flex;
            }

            .cart-line_icon-container img {
                width: 14px;
                height: 14px;
                margin-right: 4px;
            }

    .cart-line_price-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-shrink: 0;
    }

        .cart-line_quantity {
            font-size: 14px;
            font-weight: bold;
            display: flex;
            align-items: center;
            margin-bottom: 1px;
            color: #133d8d;
        }

            .cart-line_quantity .quantity {
                font-size: 12px;
                line-height: 17px;
                margin: 0 2px 0 4px;
            }

            .cart-line_quantity .line_currency-dollar {
                font-size: 11px;
                margin: 1px 1px 3px 3px;
            }

            .cart-line_quantity .line_currency {
                font-size: 11px;
                margin: 0 1px 0 3px;
            }


        .cart-line_total {
            color: #133d8d;
            display: flex;
            font-size: 17px;
            font-weight: bold;
        }

        .cart-line_tare-container {
            display:flex;
            flex-direction:column;
            font-weight: lighter;
            font-size: 11px;
            text-align: right;
            margin-top: 2px;
        }

.cart-line.subtotal-line {
    padding: 20px 10px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #808080;
    cursor: auto;
}

/** DEFAULT FAVORITE LINE STYLES **/

.favorite-line_image-container {
    padding: 5px 0;
    width: 120px;
}

    .favorite-line_image-container.line_image-square, .favorite-line_image-container.line_image-circle {
        margin: 5px 0;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 95px;
    }

        .favorite-line_image {
            height: 100%;
            width: inherit;
            border-radius: 5px;
            min-height: 90px;

            background-position: center;
            background-repeat: no-repeat;
        }

            .line_image-circle .favorite-line_image {
                border-radius: 50%;
                height: 95px;
                width: 95px;
            }

            .line_image-square .favorite-line_image {
                width: 95px;
                height: 90px;
            }

.favorite-line-details {
    padding: 7px 0 6px 8px;
    width: 100%;
}

    .favorite-line_title-container {
        display: flex;
        justify-content: space-between;
    }

        .favorite-line_name {
            padding-right: 10px;
            transition: all 200ms linear;
            color: #000;
            font-size: 17px;
            font-weight: bold;
            display: inline-block;
        }

            .favorite-line_name span {
                margin-right: 5px;
                word-break: break-word;
            }

            .favorite-line_name .quickpick-icon:first-child {
                margin-left: 5px
            }

            .favorite-line_name .quickpick-icon {
                position: relative;
                top: 1px;
            }

        .favorite-line_price {
            color: #133d8d;
            display: flex;
            font-size: 17px;
            font-weight: bold;
        }

    .favorite-line_modifiers {
        color: #808080;
        font-style: italic;
        font-size: 13px;
        margin-top: 3px;
        font-weight: normal;
    }

        .favorite-line_modifiers .line_currency-dollar {
            position: relative;
            bottom: 1px;
            margin: 0;
            font-size: 12px;
            font-weight: normal;
        }

        .favorite-line_modifiers .line_currency {
            margin: 0 2px 0 0;
            font-size: 12px;
            font-weight: normal;
        }

    .favorite-line_info-container.align-row {
        display: flex;
        align-items: center;
        margin: 5px 0 0;
    }

        .favorite-line_nutrition-container {
            display: none;
            margin-top: 5px;
            position: relative;
            right: 1px;
        }

            .align-row .favorite-line_nutrition-container {
                margin-top: 0;
                margin-right: 2px;
                position: relative;
                top: 1px;
            }

            .favorite-line_nutrition-container.show-nutrition {
                display: inline-flex;
                flex-wrap: wrap;
            }

            .favorite-line_nutrition-container .line_nutrition-info:last-child {
                border-right: 0;
                padding-right: 0;
            }

        .favorite-line_icon-container {
            display: none;
            margin-top: 6px;
        }

            .favorite-line_icon-container.show-icons {
                display: flex;
            }

            .align-row  .favorite-line_icon-container{
                margin-top: 0;
            }

            .favorite-line_icon-container img {
                width: 14px;
                height: 14px;
                margin-right: 4px;
            }

            .favorite-line_icon-container .heart-line-icon {
                width: 13px;
            }


/** MODIFIER SPECIFIC STYLES **/

.modifier-line_name {
    float: left;
    width: 100%;
    line-height: 22px;
    font-size: 17px;
}

    .modifier-line_name .line_name-span {
        -webkit-line-clamp: 4;
    }

    .modifier-line_name .line_name-span.line_clamp-3 {
        -webkit-line-clamp: 3;
    }

    .modifier-line_name .line_name-span.line_clamp-2 {
        -webkit-line-clamp: 2;
    }

    .modifier-line_name .line_name-span.line_clamp-1 {
        -webkit-line-clamp: 1;
    }

.modifier-line_description {
    font-size: 13px;
    font-weight: normal;
    color: #4e4e4e;
    max-height: 70px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    position: relative;
}

    .modifier-line_description.line_clamp-2 {
        -webkit-line-clamp: 2;
    }

    .modifier-line_description.line_clamp-1 {
        -webkit-line-clamp: 1;
    }

.modifier-line_info-container.align-row {
    display: flex;
    align-items: center;
    margin: 2px 0 1px;
}

.modifier-line_nutrition-container {
    display: none;
    margin-top: 5px;
    position: relative;
    right: 1px;
}

    .modifier-line_nutrition-container.show-nutrition {
        display: inline-flex;
        flex-wrap: wrap;
    }

    .align-row .modifier-line_nutrition-container {
        margin-top: 0;
        margin-right: 2px;
        position: relative;
        top: 1px;
    }

    .modifier-line_nutrition-container .line_nutrition-info:last-child {
        border-right: 0;
        padding-right: 0;
    }

    .modifier-line_nutrition-info-label {
        font-size: 11px;
    }

.modifier-line_icon-container {
    display: none;
    margin-top: 5px;
    margin-bottom: 2px;
}

    .modifier-line_icon-container.show-icons {
        display: flex;
    }

    .align-row .modifier-line_icon-container{
        margin-top: 0;
    }

    .modifier-line_icon-container img {
        width: 14px;
        height: 14px;
        margin-right: 4px;
    }

/** SUGGESTIVE SELLING SPECIFIC STYLES **/

.suggestive-keypad-line-below .line_info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0 1px;
}

    .suggestive-line-info .line_name-span {
        display: flex;
        align-items: center;
    }

    .suggestive-line-info .line_name-span img:first-child {
        margin-left: 4px;
    }

/** LINE CURRENCY SPECIFIC STYLES **/

.subtotal .line_currency, .review-order-total .line_currency, .review-subtotal-amount .line_currency {
    text-transform: none;
}

.combo-line-modifiers .line_currency, .prep-option .line_currency, .product-modifierList .line_currency, .favorite-line_modifiers .line_currency {
    font-weight: normal;
}

.list-value .line_currency {
    display: flex;
    align-items: center;
}

.favorite-line_modifiers .line_currency-dollar {
    position: relative;
    bottom: 1px;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
}

.product-modifierList .line_currency-dollar {
    position: relative;
    bottom: 1px;
    margin: 0;
    font-size: 13px;
    font-weight: normal;
}

.product-price .combo-discount .line_currency-dollar {
    font-size: 13px;
    position: relative;
    bottom: 2px;
    margin: 0 1px;
}

.product-price .combo-discount .line_currency-dollar {
    font-size: 13px;
    margin: 0 1px;
}

.product-price .line_currency-dollar {
    position: relative;
    bottom: 5px;
    font-size: 18px;
}

.combo-subtotal .subtotal .line_currency-dollar {
    font-size: 17px;
    position: relative;
    bottom: 4px;
}

.combo-subtotal .subtotal .line_currency-dollar {
    font-size: 15px;
}

.combo-line-modifiers .line_currency-dollar {
    position: relative;
    bottom: 1px;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
}

.combo-details-container .combo-price .line_currency-dollar {
    font-size: 17px;
    position: relative;
    bottom: 3px;
}

.combo-line-name .line_currency-dollar {
    margin: 0;
    position: relative;
    bottom: 1px;
}

.subtotal .line_currency-dollar {
    font-size: 19px;
    margin: 0 3px;
    position: relative;
    bottom: 5px;
}

.review-order-total .line_currency-dollar {
    font-size: 18px;
    position: relative;
    bottom: 5px;
    margin: 1px 2px 0 4px;
}

.review-subtotal-amount .line_currency-dollar {
    position: relative;
    bottom: 5px;
    font-size: 15px;
    margin: 1px 2px 0 4px;
}

.favorite-line-price .line_currency-dollar {
    position: relative;
    bottom: 2px;
    font-size: 12px;
}

.prep-option-name .line_currency-dollar {
    margin: 0 1px;
}

.prep-option .line_currency-dollar {
    margin: 0;
    font-weight: normal;
    font-size: inherit;
}

.review-line-amount .line_currency-dollar {
    position: relative;
    bottom: 2px;
    font-size: 12px;
}

.cart-line-total .line_currency-dollar {
    position: relative;
    bottom: 3px;
}

.modifier-line-info .line_currency-dollar {
    position: relative;
    bottom: 3px;
}
