/** Styles specifically for product detail page **/

#product-detail-page {
    background: #ffffff;
    transition: all 300ms;
    top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.1);
}

.iphoneX #product-detail-page {
    top: 35px;
}

    #product-detail-page.hide-page {
        top: 100%;
    }

    #product-detail-page.active-mod-set {
        background: #f3f3f3;
    }

    .product-detail_close {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
        position: absolute;
        top: 12px;
        left: 12px;
        z-index: 2;
        cursor: pointer;
    }

        .product-detail_close-left {
            width: 2px;
            height: 18px;
            transform: rotate(45deg);
            background: #000;
        }
        
        .product-detail_close-right {
            width: 2px;
            height: 18px;
            transform: rotate(90deg);
            background: #000;
        }

    .product-detail_container {
        overflow-y: scroll;
        overflow-y: auto;
        height: 89%;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .iphoneX .product-detail_container {
        height: calc(89% - 35pt);
    }

        .product-detail_image {
            width: 100%;
            height: calc(100vw / 1.78);

            background-position: center;
            background-repeat: no-repeat;
        }

            .broken-image.product-detail_image {
                display: flex;
                justify-content: center;
                align-items: center;
            }

        .product-detail_info-container {
            padding: 13px 12px 10px;
            background: #fff;
        }
            .product-detail_info-container.no-image-product {
                padding: 60px 12px 10px;
            }

            .product-detail_name-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
            }

                .product-detail_name {
                    font-weight: bold;
                    font-size: 21px;
                    /* Transition time causes an issue on low-connectivity devices
                       defect 3842, which is marked as working as designed.
                       Will not be an issue on faster devices, can come back if necessary.
                    */
                    transition: all 200ms;
                    border-top-left-radius: 30px;
                    border-top-right-radius: 30px;
                    word-break: break-word;
                    padding-right: 5px;
                }

                    .product-detail_combo-desc {
                        font-size: 15px;
                        color: #717171;
                        position: relative;
                        bottom: 1px;
                    }

                    .sticky.product-detail_name {
                        overflow: hidden;
                        position: fixed;
                        top: 10px;
                        left: 0;
                        width: 100%;
                        min-height: 55px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px 50px;
                        background: white;
                        text-align: center;
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                        z-index: 1;
                    }

                    .iphoneX .sticky.product-detail_name {
                        top: 35px;
                    }

                .product-detail_favorite {
                    height: 26px;
                    width: 26px;
                    cursor: pointer;
                }

            .product-detail_description {
                font-size: 14px;
                color: #656565;
                word-break: break-word;
            }
            
                .product-detail_desc-hidden, .product-detail_less-btn {
                    display: none;
                    transition: all 200ms;
                }

                .product-detail_more, .product-detail_less-btn {
                    text-decoration: underline;
                    transition: all 200ms;
                }

                .product-detail_less-btn {
                    margin-left: 5px;
                }

            .product-detail_icon-container {
                display: flex;
                align-items: center;
                margin-top: 5px;
            }

                .product-detail_icon-container.hidden {
                    display: none;
                }

                .product-detail_icon-container img {
                    width: 14px;
                    height: 14px;
                    margin-right: 4px;
                }

                .product-detail_icon-container span {
                    color: #828282;
                    margin-right: 7px;
                    font-size: 12px;
                    position: relative;
                    top: 1px;
                }

        .product-detail_nutritional-container {
            border: 1px solid #ebebeb;
            padding: 10px 12px;
            background: #fdfdfd;
            cursor: pointer;
        }

            .product-detail_nutrition-label-container {
                display: flex;
                justify-content: space-between;
            }

                .product-detail_nutrition-label {
                    color: #939393;
                    font-size: 15px;
                }

                .product-detail_nutrition-preview-container {
                    display: flex;
                    align-items: center;
                }

                    .product-detail_nutrition-preview {
                        font-size: 15px;
                        color: #8a8989;
                    }

                    .product-detail_nutrition-arrow {
                        transform: scale(-1, -1) rotate(90deg);
                        width: 14px;
                        height: 14px;
                        align-self: center;
                        display: block;
                        margin-left: 10px;
                        transition: all 200ms;
                        cursor: pointer;
                        z-index: 0;
                    }

                    .expand-nutrition .product-detail_nutrition-arrow {
                        transform: scale(-1, -1) rotate(-90deg);
                    }

            .product-detail_nutrition-list {
                display: none;
                margin-top: 5px;
            }

                .product-nutrition_container {
                    display: flex;
                    justify-content: space-between;
                    padding: 8px 0;
                    border-bottom: 1px solid #f3f3f3;
                    font-size: 13.5px;
                }

                    .product-nutrition_name {
                        color: #a9a8a8;
                    }

                    .product-nutrition_info {
                        color: #8a8989;
                    }

                .product-detail_nutrition-list .product-nutrition_container:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }

        .product-detail_quantity-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 0;
            background: #fff;
        }

            .hidden.product-detail_quantity-container {
                display: none !important;
            }

            .tare-info.product-detail_quantity-container {
                justify-content: space-evenly;
            }

            .product-detail_quantity-info {
                display: flex;
                align-items: center;
            }

                .product-detail_quantity-decrease {
                    background: #fff;
                    width: 50px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    margin-right: 5px;
                    cursor: pointer;
                }

                    .product-detail_quantity-decrease-left {
                        width: 3px;
                        height: 20px;
                        transform: rotate(90deg);
                        background: #bbbbbb;
                    }

                .product-detail_quantity {
                    width: 60px;
                    height: 33px;
                    background: #f6f6f6;
                    border-radius: 10px;
                    font-size: 19px;
                    color: #808080;
                    border: none;
                    text-align: center;
                    outline: none;
                }

                .product-detail_quantity-increase {
                    background: #fff;
                    width: 50px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    margin-left: 5px;
                    cursor: pointer;
                }

                    .product-detail_quantity-increase-left {
                        width: 3px;
                        height: 20px;
                        transform: rotate(0deg);
                        background: #bbbbbb;
                    }

                        .product-detail_quantity-increase-right {
                            width: 3px;
                            height: 20px;
                            transform: rotate(90deg);
                            background: #bbbbbb;
                        }

            .product-detail_tare-container {
                font-size: 13px;
                color: grey;
            }

                .hidden.product-detail_tare-container {
                    display: none !important;
                }

        .product-detail_remove-container {
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .hidden.product-detail_remove-container {
                display: none !important;
            }
        
            .product-detail_remove-button {
                color: #ef4135;
                font-size: 15px;
                padding: 5px 10px 8px;
            }

    .product-detail_button-container {
        background: #fff;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 11%;
        padding: 9px 12px 18px;
        transition: all 200ms;
        max-width: inherit;
    }

    .iphoneX .product-detail_button-container {
        height: calc(11% + 35pt);
        padding-bottom: calc(35pt + 18px) !important;
    }

        .product-detail_button-container.hide-button {
            height: 0 !important;
            padding: 0 !important;
        }

            .hide-button .product-detail_button, .hide-button .product-detail_swap-button {
                padding: 0;
                color: transparent !important;
                border: none;
            }

        .product-detail_button {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: #ef4135;
            color: #fff;
            border-radius: 9px;
            padding: 10px;
            width: 100%;
            cursor: pointer;
        }

            .unavailable .product-detail_button {
                opacity: 0.2;
                cursor: auto;
            }

            .product-detail_button-label {
                font-size: 24px;
            }

            .product-detail_button-price {
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 0.3px;
            }

        .product-detail_swap-button {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 2px solid;
            border-color: #ef4135;
            color: #ef4135;
            border-radius: 9px;
            padding: 10px;
            width: 100%;
            cursor: pointer;
            margin-right: 9px;
        }
        
            .hidden.product-detail_swap-button {
                display: none !important;
            }

/** PRODUCT DETAIL MODIFIER STYLES **/

.product-detail_container .modifier-menu {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.product-detail_container .modifier-menu.expand-menu:last-child {
    margin-bottom: 0px !important;
}

.product-detail_container .modifier-menu:last-child:not(.expand-menu) {
    margin-bottom: 5px !important;
}

.product-detail_prep-option-menu-list.add-prep-margin {
    margin-bottom: 5px;
}

    .modifier-menu, .prep-option-menu {
        background: #fff;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 0;
    }

        .expand-menu.modifier-menu, .expand-menu.prep-option-menu {
            padding-bottom: 4px;
        }

        .modifier-menu_header-container, .prep-option-menu_header-container {
            margin: 0 0 0 12px;
            padding: 10px 12px 10px 0;
            cursor: pointer;
        }

            .expand-menu  .modifier-menu_header-container, .expand-menu .prep-option-menu_header-container {
                padding: 10px 10px 5px 0;
            }

            .expand-menu .modifier_container, .expand-menu .prep-option_container {
                border-bottom: 1px solid #ebebeb;
            }

                .modifier-menu_name-container, .prep-option-menu_name-container {
                    display: flex;
                    justify-content:space-between;
                    align-items: flex-start;
                }

                    .modifier-menu_name, .prep-option-menu_name {
                        font-size: 17px;
                        font-weight: bold;
                        word-break: break-word;
                        padding-right: 5px;
                        display: flex;
                        align-items: center;
                    }

                    .modifier-menu_type-details, .prep-option-menu_type-details {
                        display: flex;
                        align-items: center;
                        margin-top: 4px;
                    }

                        .modifier-menu_requirement, .prep-option-menu_requirement {
                            font-size: 11px;
                            text-transform: uppercase;
                            margin-right: 9px;
                            font-weight: bold;
                            color: #989898;
                            letter-spacing: 0.1px;
                            white-space: nowrap;
                        }

                            .required.modifier-menu_requirement, .prep-option-menu_requirement {
                                color: #ef4135;
                            }

                            .menu-valid .required.modifier-menu_requirement, .prep-option-menu_requirement  {
                                position: relative;
                                bottom: 2px;
                            }

                        .modifier-menu_arrow, .prep-option-menu_arrow {
                            transform: scale(-1, -1) rotate(90deg);
                            width: 14px;
                            height: 14px;
                            align-self: center;
                            display: block;
                            transition: all 200ms;
                            cursor: pointer;
                            z-index: 0;
                        }

                            .expand-menu .modifier-menu_arrow, .expand-menu .prep-option-menu_arrow {
                                transform: scale(-1, -1) rotate(-90deg);
                                margin-right: 3px;
                            }

                .modifier-menu_description, .prep-option-menu_description {
                    padding-top: 4px;
                    font-size: 13px;
                    color: #565656;
                }

                .modifier-menu_selected-modifiers, .prep-option-menu_selected-prep {
                    display: none;
                    font-size: 14px;
                    color: #808080;
                    font-style: italic;
                    margin-top: 4px;
                }

        .modifier-menu_list, .prep-option-menu_list {
            padding: 0 10px 0 20px;
        }

            .modifier_container {
                padding: 7px 0;
                border-bottom: 1px solid #ebebeb;
                cursor: pointer;
            }

                .modifier-menu_list .modifier_container:last-child, .prep-option-menu_list .prep-option_container:last-child {
                    border-bottom: none;
                }

                .modifier_details {
                    display: flex;
                }

                    .align-mod.modifier_details {
                        align-items: center;
                    }

                    .modifier_select-container {
                        flex: 1;
                        cursor: pointer;
                    }

                        .modifier_select {
                            height: 23px;
                            width: 23px;
                            border: 2px solid darkgrey;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .radio-mod.modifier_select {
                            height: 24px;
                            width: 24px;
                            border-radius: 50%;
                        }

                        .selected-modifier .modifier_select:not(.radio-mod) {
                            background: #ef4135;
                            border-color: #ef4135;
                            color: #fff;
                        }

                        .selected-modifier .radio-mod.modifier_select {
                            background: #fff;
                            border: 2px solid #ef4135;
                        }

                            .modifier_select-check {
                                font-weight: bold;
                                font-size: 16px;
                                color: #fff;
                                display: none;
                            }

                            .selected-modifier .modifier_select:not(.radio-mod) .modifier_select-check {
                                display: inline;
                            }

                            .modifier_select-circle {
                                width: 16px;
                                height: 16px;
                                background: #ef4135;
                                border-radius: 50%;
                                display: none;
                            }

                            .selected-modifier .radio-mod .modifier_select-circle {
                                display: inline;
                            }

                    .modifier_info-container {
                        flex: 9;
                    }

                        .modifier_name-container {
                            display: flex;
                            justify-content: space-between;
                            font-size: 16px;
                            color: #292929;
                        }

                            .modifier_name {
                                word-break: break-word;
                                padding-right: 5px;
                            }

                            .modifier_description {
                                margin-top: 2px;
                                font-size: 13px;
                                font-weight: normal;
                                color: #4e4e4e;
                                max-height: 70px;
                                -webkit-line-clamp: 4;
                                -webkit-box-orient: vertical;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                overflow: hidden;
                                position: relative;
                            }

                            .align-rows.modifier_nutrition-container {
                                display: flex;
                                align-items: center;
                                margin: 1px 0;
                            }

                                .modifier_nutrition {
                                    display:none;
                                }

                                    .align-rows .modifier_nutrition {
                                        margin-top: 0;
                                        margin-right: 2px;
                                        position: relative;
                                        top: 3px;
                                    }

                                    .modifier_nutrition.show-nutrition {
                                        display: inline-flex;
                                        flex-wrap: wrap;
                                        margin-top: 4px;
                                    }

                                    .modifier_nutrition .line_nutrition-info:last-child {
                                        border-right: 0;
                                        padding-right: 0;
                                    }

                                .modifier_icons {
                                    display: none;
                                }

                                    .modifier_icons.show-icons {
                                        display: flex;
                                        margin-top: 4px;
                                    }

                                    .modifier_icons img {
                                        width: 14px;
                                        height: 14px;
                                        margin-right: 4px;
                                    }

                            .modifier_price {

                            }


/** DISCLAIMER STYLES **/

.product-detail_disclaimer-list{
    background: #fff;
    padding: 10px 12px 10px 12px;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}

    .hidden.product-detail_disclaimer-list {
        display: none !important;
    }

.disclaimer_detail-container{
    line-height:1.5;
}


.disclaimer-list-item{
    list-style: none;
    margin-top:15px;
    padding-bottom:15px;
    border-bottom: solid 1px #eae4e4
}


.disclaimer-list-item:last-child {
    border-bottom: none;
}


.disclaimer_title{
    font-weight: bold;
    color:#8d8d92;
}

.disclaimer_text{
    padding-top:4px;
    color:#8a8a8f;
    font-size:12px;
}

/** MODIFIER PREP OPTION STYLES **/

.modifier_prep-details {
    display: flex;
}

    .modifier_hidden-container {
        flex: 1;
    }

    .modifier_prep-option-container {
        flex: 9;
        display: none;
        padding: 5px 0;
    }

        .modifier_prep-option-preview-container {
            display: none;
            margin-top: 5px;
        }

            .modifier_prep-option-preview-container-inner {
                display: flex;
                align-items: center;
            }

                .modifier_prep-option-preview {
                    font-size: 13px;
                }

                .modifier_prep-option-preview-arrow {
                    width: 0;
                    height: 0;
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    border-top: 5px solid #ef4135;
                    margin-left: 5px;
                }

        .modifier_prep-option-list {
            display: none;
        }

            .prep-option_container {
                display: flex;
                align-items: center;
                padding: 7px 0;
                font-size: 15px;
                color: #292929;
                border-bottom: 1px solid #ebebeb;
                cursor: pointer;
            }

                .modifier_prep-option-list .prep-option_container:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                }

                .prep-option_select-container {
                    flex: 1;
                }

                    .prep-option_select {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        border: 2px solid #a9a9a9;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                        .selected-prep .prep-option_select {
                            border: 2px solid #ef4135;
                        }

                        .prep-option_select-circle {
                            display: none;
                        }

                            .selected-prep .prep-option_select-circle {
                                display: inline;
                                width: 16px;
                                height: 16px;
                                background: #ef4135;
                                border-radius: 50%;
                            }

                .prep-option_detail-container {
                    flex: 9;
                    display: flex;
                    justify-content: space-between;
                    padding-left: 5px;
                    font-size: 14px;
                    margin-top: 2px;
                }

                    .prep-option-menu_list .selected-prep .prep-option_detail-container {
                        color: #ef4135;
                    }

                    .prep-option-menu_list .prep-option_detail-container {
                        font-size: 16px;
                        color: #292929;
                    }

                    .prep-option_name {

                    }

                    .prep-option_price {

                    }


@media only screen and (min-device-width: 415px) {
    .active-slide {
        justify-content: center;
        flex-direction: row !important;
        max-width: 768px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .active-slide .pages {
        max-width: 768px;
    }

    #product-detail-page {
        border-radius: 20px;
        top: 30px;
        height: 90% !important;
        max-width: 550px !important;
    }

    #product-detail-page.ie-product-detail{
        top:90px !important;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

            .product-detail_image {
                height: 368px !important;
            }

                .sticky.product-detail_name {
                    max-width: 550px;
                    margin-left: auto;
                    margin-right: auto;
                    right: 0;
                    top: 30px !important;
                }

                .sticky.product-detail_name.ie-sticky{
                    top: 90px !important;
                }

        .product-detail_button-container {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 9px 12px !important;
        }

        .product-detail_button-container.ie-button-container{
            bottom: 0px !important;
        }

            .product-detail_button-label, .product-detail_button-price {
                font-size: 26px;
            }

        .prep-option_detail-container, .modifier_info-container, .modifier_prep-option-container {
            flex: 12;
        }

        .modifier-menu_list, .prep-option-menu_list {
            padding: 0 15px 0 20px;
        }
}

/* Internet Explorer */

.ie-product-slide{
    display:block !important;
}

.ie-product-detail-parent-overlay{
    z-index: 300 !important;
    height:100vh !important;
    width:100vw !important;
}


.ie-product-detail{
    top:90px !important;
}
